<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>
    <!-- <title>{{ page.title }}</title> -->
    
    <link rel="stylesheet" type="text/css" href="./stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="./stylesheets/github-dark.css">
    <!-- link to main stylesheet -->
			
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/javascripts/respond.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  </head>
  <body>
      <div class="wrapper">
	<div id="header">
        <nav>
          <li><a href="/blog">Hung's Blog</a></li>	
       	  <li><a href="/">Home</a></li>
	  <li><a href="/about">About</a></li>
          <li><a href="https://github.com/ntuanhung">My GitHub</a></li>
        </nav>
      </div><!-- end header -->
      <section>
      	<!-- title = ntuanhung.GitHub.io by ntuanhung -->
        <div class="container">
      	  {{ content }}
        </div><!-- /.container -->
        
      </section>
      <hr>
        <span class="credits left">Project maintained by <a href="https://github.com/ntuanhung">ntuanhung</a></span>
        <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a> modified by <a href="https://www.facebook.com/sweet.dream4818">DiemXiu</a></span>
    </div> <!-- end of wrapper -->
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
